body{
    background-color: #d9d1ba;
}

h1{
    position: relative;
    color: #1c2f40 ;
    font-family: 'Pattaya', sans-serif;
    font-size:3em;
    top: 10px;
    text-decoration: underline;
}

textarea{
    background-color:#f2e9d8 ;
    color: black;
    font-family: 'Noto Serif', serif;
    border-radius: 12px;
    border-color: #1c2f40;
    font-size: 14px;
}
 textarea:focus{
    outline-style: none;
    border-style: dashed;
 }

textarea::placeholder{
    text-align: center;
}

textarea::-webkit-scrollbar{
    background-color: #1c2f40;
    position: relative;
    left: 12px;
    border-radius: 12px;
    cursor: pointer;
}

textarea::-webkit-scrollbar-thumb{
    background-color: #8094a6;
    cursor: pointer;
    border-radius: 12px;
}

h3{
    display: flex;
    justify-content: center;
    font-family: 'Uchen', serif;
    color: #1c2f40;
}

button{
    width: 80px;
    font-family: 'Uchen', serif;
    font-size: medium;
    border-radius: 12px;
    cursor: pointer;
    background-color: #223a4f;
    color: #f2e9d8;
}

button:active{
    background-color: #f2e9d8;
    color: #223a4f;
    border-color: #1c2f40;
    font-weight: bolder;
}

select{
    position: relative;
    top: 20px;
    font-family:'Uchen', serif;
    font-size: 15px;
    width: 120px;
    height: 40px;
    border-radius: 12px;
    background-color: #223a4f;
    color: #f2e9d8;
}


.container{
    display: flex;
    justify-content: center;
    font-family: 'Uchen', serif;
}

.container-ch{
    display: flex;
    justify-content: center;
    font-family: 'Uchen', serif;
    font-size: large;
    font-weight:bolder;
    color: #1c2f40;
}

span{
    color: #1c2f40;
    font-weight: bolder;
    background-color: #1c2f40;
}

.subrayada{
    color: #1c2f40;
    font-weight: bolder;
    background-color: #1c2f40;
}

#info{
    position: relative;
    top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#botones{
    position: relative;
    top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}